<form class="user-info" [formGroup]="form">
    <mat-expansion-panel hideToggle [(expanded)]="expanded">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="user-info__title" fxLayout="row" fxLayoutAlign="space-between center">
                        <span>
                            Edit user info settings
                        </span>
                    <i [class.icon__opened]="expanded" class="material-icons">arrow_drop_down</i>
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="user-info__content" fxLayout="column" fxLayoutGap="15px">
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="default center">

                <span>age: {{form.controls.age.value}}</span>
                <mat-slider
                        thumbLabel
                        tickInterval="1000"
                        formControlName="age"
                        min="18"
                        max="100"></mat-slider>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Gender</mat-label>
                    <mat-select  formControlName="gender">
                        <mat-option *ngFor="let gender of genders" [value]="gender.value">
                            {{gender.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Sexual Preference</mat-label>
                    <mat-select  formControlName="sexualPreference">
                        <mat-option *ngFor="let sexualPreference of sexualPreferences" [value]="sexualPreference.value">
                            {{sexualPreference.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>biography</mat-label>
                    <textarea rows="7" matInput formControlName="biography"></textarea>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-chip-list">
                    <mat-label>Tags</mat-label>
                    <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip *ngFor="let tag of tags" [selectable]="false"
                                  [removable]="true" (removed)="remove(tag)">
                            {{tag.text}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="new tags..."
                               [matChipInputFor]="chipList"
                               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                               [matChipInputAddOnBlur]="true"
                               (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                </mat-form-field>
            </div>
            <div *ngIf="profileChanged" @anim class="info">
                <span>user settings changed</span>
            </div>
            <div>
                <button [disabled]="form.invalid || profileChanged" (click)="editUserParamsSettings()">
                    edit
                </button>
            </div>
        </div>
    </mat-expansion-panel>
</form>
