<div class="user-info">
    <mat-expansion-panel hideToggle [(expanded)]="expanded">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="user-info__title" fxLayout="row" fxLayoutAlign="space-between center">
                        <span>
                            Edit password settings
                        </span>
                    <i [class.icon__opened]="expanded" class="material-icons">arrow_drop_down</i>
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="user-info__content" fxLayout="column" fxLayoutGap="5px">
            <mat-form-field class="full-width">
                <mat-label>old password</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>new password</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>repeat new password</mat-label>
                <input matInput>
            </mat-form-field>
            <div>
                <button>
                    edit
                </button>
            </div>
        </div>
    </mat-expansion-panel>
</div>
