<form  [formGroup]="form" class="form" fxLayout="column" fxLayoutGap="30px">
	<div fxLayoutAlign="center center">
		RECOVERY PASSWORD
	</div>
	<div fxLayout="column" fxLayoutGap="10px">


		<mat-form-field>
			<mat-label>new password</mat-label>
			<input formControlName="password" matInput type="text" type="password">
		</mat-form-field>
		<mat-form-field>
			<mat-label>confirm new password</mat-label>
			<input formControlName="confirmPassword" matInput matInput type="password">

		</mat-form-field>
	</div>
	<div>
		<button [disabled]="form.invalid" (click)="recovery()" mat-raised-button color="primary">sign in</button>
	</div>
	<div fxLayout="row" fxLayoutAlign="space-between">
		<div>
			<a routerLink="/signup">signup</a>
		</div>
		<div>
			<a routerLink="/signin">signin</a>
		</div>
	</div>
</form>







