
.browsing-filter {

    .browsing-filter-item {
        position: relative;
        height: 50px;
    }
}
span {
    font-size: 13px;
    color: white;
}

input::placeholder {
    color: white;
}

input {
    color: white;
}
