@import '../../../assets/scss/color.scss';

.navbar {
    padding: 25px;
    .navbar__avatar {
        .avatar__wrap {
            background: red;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 100px;
            }
        }
    }
}
