<div class="navbar" fxLayout="column" fxLayoutGap="50px">
    <div class="navbar__avatar" fxLayoutAlign="center center">
        <div class="avatar__wrap">
            <img [src]="avatarLink"
                 alt="avatar">
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="15px">
        <matcha-navbar-item link="profile" iconName="perm_identity" text="Profile"></matcha-navbar-item>
        <matcha-navbar-item link="settings" iconName="settings" text="Settings"></matcha-navbar-item>
    </div>
</div>
