<div class="user-settings" fxLayout="column" fxLayoutGap="50px">
    <div class="user-settings__header">
        <span>
            Settings
        </span>
    </div>
    <div class="user-info">
        <mat-expansion-panel hideToggle [(expanded)]="accountSettingsExpanded">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="user-info__title" fxLayout="row" fxLayoutAlign="space-between center">
                        <span>
                            Edit account settings
                        </span>
                        <i [class.icon__opened]="accountSettingsExpanded" class="material-icons">arrow_drop_down</i>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="user-info__content" fxLayout="column" fxLayoutGap="5px">
                <mat-form-field class="full-width">
                    <mat-label>email</mat-label>
                    <input matInput [value]="(userService.user$ | async)?.email">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>username</mat-label>
                    <input matInput  [value]="(userService.user$ | async)?.username">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>first name</mat-label>
                    <input matInput [value]="(userService.user$ | async)?.firstName">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>last name</mat-label>
                    <input matInput [value]="(userService.user$ | async)?.lastName">
                </mat-form-field>
            </div>
        </mat-expansion-panel>
    </div>
</div>

