<form  [formGroup]="form" class="form" fxLayout="column" fxLayoutGap="30px">
	<div fxLayoutAlign="center center">
		SIGN IN
	</div>
	<div fxLayout="column" fxLayoutGap="10px">


		<mat-form-field>
			<mat-label>username</mat-label>
			<input formControlName="username" matInput type="text">
		</mat-form-field>
		<mat-form-field>
			<mat-label>password</mat-label>
			<input formControlName="password" matInput type="password">

		</mat-form-field>
	</div>
	<div *ngFor="let error of errors" @anim class="error">
		<span>{{error}}</span>
	</div>
	<div>
		<button [disabled]="form.invalid" mat-raised-button color="primary" (click)="signin()">sign in</button>
	</div>
	<div fxLayout="row" fxLayoutAlign="space-between">
		<div>
			<a routerLink="/signup">signup</a>
		</div>
		<div>
			<a routerLink="/forgot">forgot password?</a>
		</div>
	</div>
	<div fxLayout="column" fxLayoutGap="10px">
		<div>
			<span>Omniauth</span>
		</div>
		<div>
			<img (click)="signInGoogle()" src="assets/google.svg" alt="google">
		</div>
	</div>
</form>







