.current-chat {
    padding: 25px;
    height: 100vh;
    .no-message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.bold {
    font-weight: 500;
}
span {
    font-size: 13px;
    color: white;
}

input {
    color: white;
}
.img__wrap {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
