/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    margin: 0;
    padding: 0;
}

.mat-form-field-empty.mat-form-field-label {
    color: rgba(255, 255, 255, .5);
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: rgba(255, 255, 255, .5);

}

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgba(255, 255, 255, .5);
}

.mat-expansion-panel {
  background: transparent;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    margin-right: 0 !important;
}
