<div class="user__photos" fxLayout="column" fxLayoutGap="15px">
    <div class="avatar" fxLayout="column" fxLayoutGap="5px">
        <div class="photo__wrap">
            <div class="img__wrap">
                <img [src]="(userService.user$ | async)?.avatarLink ? (userService.user$ | async)?.avatarLink : 'assets/img/default_avatar.png'" alt="avatar">
            </div>
            <div (click)="avatar.click()" class="add_photo" fxLayoutAlign="center center">
                <mat-icon>add</mat-icon>
            </div>
            <div fxLayoutAlign="center center">
                <mat-icon class="delete-photo" (click)="deleteAvatar()">delete</mat-icon>
            </div>
            <input class="hidden-input" #avatar type="file" (change)="uploadAvatar(avatar.files)">
        </div>
    </div>
    <div class="other-photo" fxLayout="column" fxLayoutGap="5px">
        <perfect-scrollbar [config]="{useBothWheelAxes: true}">
            <div fxLayout="row" fxLayoutGap="25px">
                <div *ngIf="photoLength < 5" class="add-other-photo">
                    <div class="other-img__wrap">
                        <img src="assets/img/default_photo.png" alt="photo">
                    </div>
                    <div (click)="photo.click()" class="add_photo" fxLayoutAlign="center center">
                        <mat-icon>add</mat-icon>
                    </div>
                    <input class="hidden-input" #photo type="file" (change)="uploadOtherPhoto(photo.files)">
                </div>
                <div *ngFor="let photo of photosLink" class="delete-other-photo">
                    <div class="other-img__wrap">
                        <img [src]="photo.link" alt="photo">
                    </div>
                    <div fxLayoutAlign="center center">
                        <mat-icon class="delete-photo" (click)="deletePhoto(photo.id)">delete</mat-icon>
                    </div>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
</div>
