

.form {
    background: white;
    padding: 50px;
    width: 500px;
    border-radius: 10px;
}

button   {
    width: 100%;
}

a {
    text-decoration: none;
    color: #575267;
}

.error {
    background: #ea4848;
    color: white;
    border-radius:5px;
    text-align: center;
    padding: 15px;
}

.info{
    background: #48dcea;
    color: white;
    border-radius:5px;
    text-align: center;
    padding: 15px;
}
