<form  [formGroup]="form" class="form" fxLayout="column" fxLayoutGap="30px">
	<div fxLayoutAlign="center center">
		FORGOT PASSWORD
	</div>
	<div fxLayout="column" fxLayoutGap="10px">
		<mat-form-field>
			<mat-label>email</mat-label>
			<input formControlName="email" matInput type="text">
		</mat-form-field>
	</div>
	<div *ngIf="canGoToEmail" @anim class="info">
		<span>please check your email to recovery your email</span>
	</div>
	<div *ngFor="let error of errors" @anim class="error">
		<span>{{error}}</span>
	</div>
	<div>
		<button [disabled]="form.invalid" mat-raised-button color="primary" (click)="sendLink()">sign in</button>
	</div>
	<div fxLayout="row" fxLayoutAlign="space-between">
		<div>
			<a routerLink="/signin">Already have any account?</a>
		</div>
		<div>
			<a routerLink="/signup">signup</a>
		</div>
	</div>
</form>







