

.form {
    background: white;
    padding: 50px;
    width: 500px;
    border-radius: 10px;
}

button   {
    width: 100%;
}

.error {
    background: #ea4848;
    color: white;
    border-radius:5px;
    text-align: center;
    padding: 15px;
}
